*{
    margin: 0px;
    padding: 0px;
}
    .or{
        text-align: center;
    }
    a{
        color: black;
     text-decoration: none;
    } 

    #form {
      width: 400px;
      height: 500px;  
      padding: 20px;
      margin: 20%;
      display: grid;
      justify-content: center;
      font-size: 20px;
      margin-left: 500px;
      font-family: 'Open Sans', sans-serif;
      color: #333333;
    
    }
    .heading {
        font-size: 13px;
        color: #7a7a7a;
        margin: 0px 0px 7px;
        padding: 0px 0px 5px;
    }
   #first {
       padding: 10px;
       margin-top: 1px;
       margin-bottom: 10px;
       border: 1px solid grey;
       border-color: grey;
   } 
   #email {
       padding: 10px;
       margin-top: 1px;
       margin-bottom: 10px;
       border: 1px solid grey;
       border-color: grey;
   }
   #password{
       padding: 10px;
       margin-top: 5px;
       margin-bottom: 10px;
       border: 1px solid grey;
       border-color: grey;
   }
   #last{
       padding: 10px;
       margin-top: 5px;
       margin-bottom: 10px;
       border: 1px solid grey;
       border-color: grey;
   }
   #btn {
       padding: 10px;   
       margin-top: 5px;
       margin-bottom: 10px;
       border: 1px solid grey;
       background-color: #E5B95F;
   }
      form {
            display: block;
            width: 200px;
            
        }
        .main{
            text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
        }
        em{
            color: #F1152F;
            margin: 0px 0px 0px 3px;
            font-size: 13px;
        }
        .sign{
            border: 1px solid;
            background-color:#E5B95F;
            width: 400px;
            height: 30px;
            color: #252525;
            
        }
        col{
            margin: auto;
        }col>a>button{
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            font-size: 18px;
            border-radius: 8px;
        }
        col>a{
            text-decoration: none;
        }
        .fa-brands{
            padding: 8px;
            background-color: rgba(250, 250, 250, 0.374);
        }
        #blueBack{
            background-color: rgb(61, 61, 200);
            color: white;
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            font-size: 18px;
            border-radius: 8px;
        }
        #redBack{
            background-color: rgb(246, 75, 75);
            color: white;
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            font-size: 18px;
            border-radius: 8px;
            text-decoration: none;
        }
        .sign{
            border: 1px solid;
            background-color:#E5B95F;
            width: 400px;
            height: 30px;
            color: #252525;
          text-decoration: none;
          font-size: 15px;
          text-align: center;
          border: 1px solid #E5B95F;
          color: white;
          border-color: #E5B95F;
            
        }
    
        #btn:hover{
            background-color: #252525;
            color: white;
           
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            line-height: 25px;
        }
        /* navbar */
        #top{
            background-color: black;
            color: white;
            text-align: center;
            width: 100%;
            padding: 10px 0;
        }
        #navbar{
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            position:sticky;
            top: 0;
        }
        #front{
            width: 200px;
            height: 50px;
            margin-left: 26%;
        }
        #navbar>h2{
            font-size: 20px;
            margin-left: 20px;
            color: rgb(209, 165, 82);
        }
        #navbar>h2:hover{
            color: rgb(236, 180, 76);
        }
        i{
            margin: auto;
            color: rgb(197, 157, 82);
        }
        i:hover{
            color: rgb(253, 191, 76);
        }
        div i{
            margin: 0 30px;
        }
        #shadow{
            height: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        footer>div{
            width: 70%;
            display: flex;
            margin: 60px auto;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 14px;
        }
        footer>div>div *{
            margin-bottom: 20px;
            text-decoration: none;
            color: gray;
        }
        footer div>h2{
            font-size: 20px;
            color: rgb(51, 51, 51);
            font-weight: lighter;
        }
        footer div>div>input{
            height: 40px;
            width: 200px;
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        footer div>div>button{
            height: 40px;
            width: auto;
            border: none;
            color: white;
            border-radius: 8px;
            padding: 0 15px;
            background-color: rgb(196, 159, 91);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        footer div>div>button:hover{
            background-color: black;
        }
        footer a>p:hover{
            color: rgb(244, 182, 66);
        }
        footer>#footLogo{
            width: 200px;
        }
        footer>#footLogo>a{
            padding: 10px 10px;
            margin: 5px;
            font-size: 10px;
            border-radius:50%;
            background-color: rgb(236, 236, 236);
        }
        footer>div:last-child{
            font-size: 20px;
            margin-top: -30px;
            margin-left: 40%;
        }     

       
       