*{
    box-sizing: border-box;
}
#mid{
  display: flex;
  height: auto;
  width: 96%;
  gap:20px;
  margin:auto;
}
#mid>div{
  width: 25%;
  height:100%;
  align-content: space-between;
}
#mid>div>a>.im{
  width:100%;
  border: 3px solid rgb(223, 174, 83);
  border-radius: 20px;
}
#mid>div:hover{
background-color:grey;
color:grey
}
.bigh1{
text-align: center;
text-decoration: rgb(240, 170, 42) underline;
text-underline-offset: 20px;
font-weight: 100;
margin-bottom: 50px;
}
#mid2{
display: flex;
margin-left: 20px;
align-content: space-between;
height:250px
}
.cen{
    border: 1px solid rgb(160, 152, 152);
    margin-left: 15%;
    width: 22%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height:auto;
}
.p{
    font-size: 12px;
    line-height: -10px;
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
    color: black;
    text-decoration: none;
}
.first{
    border: 1px solid rgb(160, 152, 152); 
    text-align: center;
}
.last{
    height: 30%;
    text-align: center;
    margin: auto;
}
.orange{
    color: rgb(233, 181, 86);
}
#prev{
   margin-top: 60px;
   text-align: center;
text-decoration: rgb(240, 170, 42) underline;
text-underline-offset: 20px;
font-weight: 100;
margin-bottom: 50px;
}
.can{
    text-align: center;
border: 1px solid grey;
padding: 20px 30px;
background-color: rgb(226, 176, 82);}
button{
    color: white;
    background-color: rgb(240, 182, 74);
    width: 100%;
    height: 100%;
    border-radius:  5px;
    border: 1px solid white;
    padding: 10px;
}

body { font-family: sans-serif; }
* {
margin: 0;
box-sizing: border-box
}
.mySlides {
display: none
}
.slidingIMG{
vertical-align: middle;
width: 100%;
height: 500px;
}

/* Slideshow container */
.slideshow-container {
width: 100%;
position: relative;
margin: 50px auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: black;
font-weight: bold;
font-size: 22px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(182, 141, 64, 0.748);
color: white;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}


/* external css: flickity.css, fullscreen.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }
.carousel {
  background: #EEE;
}
.carousel-image {
  display: block;
  height: 300px;
  /* set min-width, allow images to set cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}
.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}
#bigcont{
height: 300px;
width: 100%;
background-color:rgb(238, 207, 150)
}
#innerh2{
    text-align: center;
    font-size: 20px;
    font-weight: 1px;
}
#bigch1{
    margin-top: 60px;
    text-align: center;
 text-decoration: rgb(240, 170, 42) underline;
 text-underline-offset: 20px;
 font-weight: 100;
 margin-bottom: 50px;
}
#trend{
    text-align: center;
    margin-top: 30px;
}
#lowersecond{
    display: flex;
cursor:pointer;
}
.lowersecdiv{ 
    margin-top: 60px;
    height: 300px;
    width: 15%;
}

.lowersecim{ 
    width: 100%;
}

#last{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(238, 192, 107);
    height: 150px;
    width: 100%;
    gap: 40px;
    padding-top: 20px;

}
.lastim{
    height:100px;
    width: 100px;
    border: 2px solid black;
    border-radius:20px

}
#shadow{
    height: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
footer>div{
    width: 70%;
    display: flex;
    margin: 60px auto;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
}
footer>div>div *{
    margin-bottom: 20px;
    text-decoration: none;
    color: gray;
}
footer div>h2{
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: lighter;
}
footer div>div>input{
    height: 40px;
    width: 200px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
footer div>div>button{
    height: 40px;
    width: auto;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0 15px;
    background-color: rgb(196, 159, 91);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
footer div>div>button:hover{
    background-color: black;
}
footer a>p:hover{
    color: rgb(244, 182, 66);
}
footer>#footLogo{
    width: 200px;
}
footer>#footLogo>a{
    padding: 10px 10px;
    margin: 5px;
    font-size: 10px;
    border-radius:50%;
    background-color: rgb(236, 236, 236);
}
footer>div:last-child{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 40%;
}       


#top{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
#navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position:sticky;
    top: 0;
}
#front{
    width: 200px;
    height: 50px;
    margin-left: 26%;
}
#navbar>h2{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(209, 165, 82);
}
#navbar>h2:hover{
    color: rgb(236, 180, 76);
}
i{
    margin: auto;
    color: rgb(197, 157, 82);
}
i:hover{
    color: rgb(253, 191, 76);
}
div i{
    margin: 0 30px;
}